.config/*
!.config/autostart
!.config/bashtop
!.config/coc
!.config/gtk-3.0
!.config/dunst
!.config/i3
!.config/kitty
!.config/neofetch
!.config/nitrogen
!.config/nvim
!.config/zsh
!.config/rofi
!.config/mimeapps.list
!.config/picom.conf
